
header {
  background: url('../img/header_background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

header img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}


.home__intro {
  height: 100vh;
}
