/* ---Fonts--- */
@import url("https://use.typekit.net/hrt6ppr.css");
/* --------- */

/* ---Main--- */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f2f2;
  overflow-x: hidden;
  padding: 0 0 280px;
  position: relative;
}
/* --------- */

/* ---NAV--- */

.nav {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .5s
}
.nav.bg {
  background: rgba(0,0,0,.8);
  transition: .5s
}
.nav_left {
  float: left;
  margin-left: 10em;
}
.nav_left h2 {
  font-family: europa, sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  display: flex;
  margin: 0;
  padding: 0;
  line-height: 60px;
}
.nav_right {
  float: right;
  font-family: europa, sans-serif;
  font-weight: 400;
}
.nav_right ul {
  list-style: none;
  display: flex;
  font-size: 1.2em;
  margin-right: 10em;
}
.nav_right ul li {
  margin-left: 2em;
}
.nav_right ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 60px;
}
#active {
  border-bottom: 1px solid #ff824c;
}
/* --------- */
/* FOOTER */
.footer {
  height: 240px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #f2f2f2;
  font-family: europa, sans-serif;
  padding: 20px;
}
.footer__section--1 {
  height: 50px;
  position: relative;
}
.footer__section--1 img {
  height: 50px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__section--2 {
  height: 125px;
}
.footer__section--3 {
  height: 25px;
}

.footer__section--3 h4 {
  text-align: center;
  line-height: 25px;
  font-weight: 400;
}
/* --------- */
