.spacing {
    height: 50px;
}
.more-spacing {
    height: 200px;
}

.offerte__main {
    width: 100%;
    margin: 0;
    padding: 0;
}
.offerte-h1 {
    width: 310px;
    margin: auto;
    font-size: 4em;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: normal;
}
.offerte-h1--long {
    width: 570px;
    margin: auto;
    font-size: 4em;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: normal;
}
.offerte-p {
    padding-top: 1em;
    width: 500px;
    margin: auto;
    text-align: center;
}
.offerte__main--middle {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}
.offerte__main--content {
    width: 80%;
    margin: auto;
    display: block;
}

.offerte__main--content h1 {
    font-size: 2.5em;
}
.offerte__main--content p {
    font-size: 1.3em;
}


.offerte__main--offerte--1 {
    background-image: url('../images/offerte/offerte_1.jpg');
    background-size: cover;
    height: 300px;
    display: table;
    width: 100%;
}
.offerte__main--offerte--2 {
    background-image: url('../images/offerte/offerte_2.jpg');
    background-size: cover;
    height: 300px;
    display: table;
    width: 100%;
    text-align: right;
}
.offerte__main--offerte--3 {
    background-image: url('../images/offerte/offerte_3.jpg');
    background-size: cover;
    height: 300px;
    display: table;
    width: 100%;
}
.offerte__main--offerte--4 {
    background-image: url('../images/offerte/offerte_4.jpg');
    background-size: cover;
    height: 300px;
    display: table;
    width: 100%;
    text-align: right;
}
.offerte__main--offerte--5 {
    background-image: url('../images/offerte/offerte_5.jpg');
    background-size: cover;
    height: 300px;
    display: table;
    width: 100%;
}
.offerte__main--offerte--6 {
    background-image: url('../images/offerte/offerte_6.jpg');
    background-size: cover;
    height: 300px;
    display: table;
    width: 100%;
    text-align: right;
}

/*Voorbeelden*/

/*responsive*/
.responsive__main {
    height: 600px;
    background-image: url('../images/offerte/responsive_bg.jpg');
    background-size: cover;
    z-index: 1;
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);
}
.responsive__main--middle {
    overflow: hidden;
    height: 600px;
    z-index: 2;
}
.responsive__main--middle--content {
    width: 95%;
    text-shadow: 0px 0px 10px rgba(0,0,0,.2);
    text-align: left;
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.responsive__main--middle--content h1 {
    font-size: 3em;
    line-height: 55px;
}
.responsive__main--middle--content p {
    font-size: 1.2em;
    max-width: 25%;
}

/*SEO*/

.seo__main {
    height: 600px;
    background-image: url('../images/offerte/seo_bg.jpg');
    background-size: cover;
    z-index: 1;
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);
}
.seo__main--middle {
    overflow: hidden;
    height: 600px;
    z-index: 2;
}
.seo__main--middle--content {
    width: 95%;
    text-shadow: 0px 0px 10px rgba(0,0,0,.2);
    text-align: right;
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.seo__main--middle--content h1 {
    font-size: 3em;
    line-height: 55px;
}
.seo__main--middle--content p {
    font-size: 1.2em;
}

/*Klant vriendelijkheid*/

.KV__main {
    height: 600px;
    background-image: url('../images/offerte/KV_bg.jpg');
    background-size: cover;
    z-index: 1;
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);
}
.KV__main--middle {
    overflow: hidden;
    height: 600px;
    z-index: 2;
}
.KV__main--middle--content {
    width: 95%;
    text-shadow: 0px 0px 10px rgba(0,0,0,.2);
    text-align: left;
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.KV__main--middle--content h1 {
    font-size: 3em;
    line-height: 55px;
}
.KV_main--middle--content p {
    font-size: 1.2em;
    max-width: 25%;
}


@media screen and (max-width: 650px) {
    .offerte__main--content {
        font-size: .9em;
    }
    .offerte__main--offerte--1,
    .offerte__main--offerte--3,
    .offerte__main--offerte--5 {
        background-image: none;
        background-color: #141414;
    }
    .offerte__main--offerte--2,
    .offerte__main--offerte--4,
    .offerte__main--offerte--6 {
        background-image: none;
        background-color: #f2f2f2;
    }
    .offerte__main--offerte--2 .offerte__main--middle,
    .offerte__main--offerte--4 .offerte__main--middle,
    .offerte__main--offerte--6 .offerte__main--middle{
        color: #000;
        text-shadow: 0 0 rgba(0,0,0,0);
    }
    .line {
        height: 1px;
        width: 100%;
        background: #000;
    }

}

@media screen and (min-width: 650px) {
    .line {
        display: none;
    }
}